
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
  line-height: 1.6;
  background-color: #e4ca94;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.section-white {
    width: 100%;
    max-width: 1670px;
    min-height: 100vh;
    margin: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #b7b7b7;
    border-radius: 12px;
    box-shadow: border-box;
    margin-left: auto;
    margin-right: auto;
}

.section-purple {
    margin: 50px;
    padding: 20px;
    background-color: #ffd8f3;
    border: 1px solid #f294f9;
    border-radius: 5px;
    max-width: 1670px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
  margin-top: 1.5em;
}

ul, ol {
  margin-left: 20px;
}

.line {
    height: 2px; /* grosor de la línea */
    background-color: #bf926c; /* color de la línea, negro en este caso */
    width: 100%; /* longitud de la línea, ajusta si quieres otra cosa */
    margin: 15px 0; /* espacio arriba y abajo */
  }

/* Estilo para la tabla de nutrición */
.nutrition-table {
  width: 50%;
  max-width: 400px;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: 'Times New Roman', sans-serif;
}

.nutrition-table th,
.nutrition-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.nutrition-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.nutrition-table tr:nth-child(even) {
  background-color: #fafafa;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
